.mat-Input{
    width: 250px;
}

.mat-Button{
    width: 125px;
}

.margin{
    margin-top: 26px;
}

.icon{
    width: 30px;
}

.custom{
    color: #ffffff;
    background-color: #555555;
}

.custom[color="custom"]:hover{
    background-color: #414141;
}

.custom[color="custom"]:disabled{
    background-color: #949494;
}
