.Area{
    width: 100%;
    height: 100%;
    position: absolute;
}

.Block{
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.AuthInput{
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.AuthButt{
    margin-top: 20px;
}

.AuthButt[name = "submit"]{
    float: left;
    margin-left: 46px;
}

.AuthButt[name = "link"]{
    float: right;
    margin-right: 46px;
}
