input{
    width: 60%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 11px;
    display: flex;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    opacity: 0.9;
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
