.app {
  text-align: center;
  position: relative

}
.form{
  width: 20%;
  height: 20%;
  position: absolute; 
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%)
}
input, button{
  margin-top: 20px;
  margin-left: 50%;
  transform: translate(-50%, 0)
}
input{
  width: 50%;
  height: 10%;
  display: flex;
}
button{
  width: 15%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}